<ion-view view-title="{{word}}"  class="back-color">
	<ion-nav-bar align-title="center"  class="bar bar-header bar-assertive back-color">
		<ion-nav-back-button class="button-icon button-clear ion-chevron-left">
		</ion-nav-back-button>
	</ion-nav-bar>

    <ion-content class="padding">
       <md-list>
            <md-list-item class="md-3-line" ng-repeat="def in definitions">
                <div class="md-list-item-text">
                    <h4>{{def.word}} - {{def.partOfSpeech}}</h4>
                    <p>{{def.text}}</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </ion-content>
</ion-view>