<ion-view  class="back-color">
	<div class="bar bar-header item-input-inset back-color">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" ng-focus="goSearch()" placeholder="Search">
		</label>
	</div>
	<ion-content class="has-header">
		<!--
		<button class="button button-dark" ui-sref="login">
			Go home
    	</button>
		<button class="button button-dark" ui-sref="game">
			Go game
		</button>
		-->
		<div class="button-gumol" ui-sref="game">
			<img src="img/gumols/gumol_home.svg">
			<span class="button-title">Improve your vocabulary</span>
		</div>
	</ion-content>

	<!-- align to the bottom of the page -->
	<div style="position: absolute; bottom: 0px; width: 100%">
		<div class="row row-bottom">
			<div class="col button-border"ui-sref='saveWords'>
				<img src="img/gumols/gumol_my_words_home.png" class="home-button">
				Words
			</div>
			<div class="col col-50 button-border">
				<img src="img/gumols/gumol_vs_home.png" class="home-button">
				V.S.
			</div>
			<div class="col button-border">
				<img src="img/gumols/gumol_practis_home.png" class="home-button">
				Shoping
			</div>
		</div>
	</div>

</ion-view>
