<ion-view hide-nav-bar="true">
	<ion-content>
		<md-content class="autoScroll" layout-padding>
			<form>
				<md-input-container class="md-icon-float md-block">
					<!-- Use floating label instead of placeholder -->
					<md-icon md-svg-src="img/assets/icon_person_login.svg" class="name"></md-icon>
					<input ng-model="user.name" type="text" placeholder="Name" ng-required="true">
				</md-input-container>
				<md-input-container class="md-block">
					<!-- Use floating placeholder instead of label -->
					<md-icon md-svg-src="img/assets/icon_pass_login.svg" class="password"></md-icon>
					<input ng-model="user.password" type="password" placeholder="Password" ng-required="true">
				</md-input-container>
				<md-button class="md-raised button-block">Login</md-button>
			</form>
		<md-content>
			<md-button class="button button-block icon-right md-primary ion-social-facebook md-raised ">Sing in with facebook</md-button>

		<!--
		<h3>Page 1</h3>
		<button class="button button-dark" ui-sref="home">
			Navigate to Page 2
		</button>
		-->
		<!--
		<div ng-hide="authData" class="card" ng-click="login()">
			<button class="item">
				Log In with Facebook
			</button>
		</div>

		<div class="card" ng-show="authData">
			<div class="item item-text-wrap">
				Hello {{authData.facebook.displayName}}!
			</div>
		</div>
		-->
	</ion-content>
</ion-view>
